/* CSS chung */
body { 
    font-family: 'Arial', sans-serif, 'Roboto', sans-serif;
    margin: 0; 
    padding: 0; 
    background-color: #f4f4f9; 
    color: #333; 
}


.all { 
    display: flex; 
    height: 100vh; 
}

.menu { 
    flex: 1.5; 
    background: #d6d2ac; 
    padding: 20px 0; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}

.menu img { 
    width: 80px; 
    height: 80px; 
    margin-bottom: 10px; 
}

.menu b { 
    font-size: 20px; 
    margin-bottom: 20px; 
    color: #5a4635; 
}

.menu ul { 
    list-style: none; 
    padding: 0; 
    width: 100%; 
}

.menu li { 
    width: 100%; 
    text-align: center; 
    padding: 15px 0; 
    margin: 5px 0; 
    background: #ece6c7; 
    transition: background 0.3s; 
    border-radius: 5px; 
    cursor: pointer; 
}

.menu li:hover { 
    background: #cbb88a; 
}



.menu li a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.ul_temp {
    display: none;
    }

    .li_temp{
     font-weight: bold;
    color: #333;
    }
    /* Hiển thị danh sách con khi hover */
    .li_temp:hover .ul_temp {
    display: block;
    }

/* Chức năng */
.chucnang { 
    background: #cbb88a; 
    flex: 4; 
    padding: 20px; 
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); 
    overflow-y: auto; 
}

